<ngx-loading [show]="downloading"></ngx-loading>

<p-table #dt [columns]="cols" [value]="ecos" selectionMode="single" [(selection)]="selectedEco" [scrollable]="true" scrollHeight="600px"
  [resizableColumns]="true" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'eco_number'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input *ngSwitchCase="'department'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>